.header{
display: flex;
justify-content: space-between;
border: 1px solid black;
}

.logo{
    width:70px;
}

.nav-items{
    padding: 0px 20px 0px 0px;
}

.nav-items > ul{
    font-family: 24px;
    display: flex;
    list-style-type: none;
    
}

.nav-items > ul > li{
    padding:10px;
    margin:10px;
}


.res-card{
    width: 200px;
    height: 300px;
    border : 1px solid black;
}


.Search{
    padding:10px;
}
