h1{
    color: red;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

