.header{
display: flex;
justify-content: space-between;
border: 1px solid black;
}

.logo{
    width:70px;
}

.nav-items{
    padding: 0px 20px 0px 0px;
}

.nav-items > ul{
    font-family: 24px;
    display: flex;
    list-style-type: none;
    
}

.nav-items > ul > li{
    padding:10px;
    margin:10px;
}


.res-card{
    padding : 50px;
    width: 200px;
    height: 300px;
    border : 1px solid black;
    margin: 3px;

}
.res-card:hover{
    box-shadow: 10px 10px black;
    cursor: pointer;
}

.Search{
    padding:10px;
}


.res-logo{
    width:100%;
    margin: 5px;
    
}

.res-container{
    display: flex;
} 